@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your other styles below */


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-playfair: 'Playfair Display', serif;
  --font-lato: 'Lato', sans-serif;
  --font-merienda: 'Merienda', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}